{% extends "base.html.j2" %}

{% block content %}
<table class="table table-striped table-hover table-borderless table-responsive">
    <thead class="thead-default thead-dark bg-dark text-light">
        <tr><th scope="col">Aulas</th><th scope="col">Baixar</th></tr>
    </thead>
    <tbody>
    {% if course %}
        {% for module in course["course"]["modules"] %}
            {% if module_id == module["id"] %}
                {% for lesson in module["lessons"] %}
                <tr>
                    <td>{{ lesson["title"] }}</td>
                    <td class="col-md-6">
                        {% if lesson["video"] %}
                        <form action="{{ url_for('downloader') }}" method="POST" style="display:inline">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="courseId" value="{{ course['course']['id'] }}">
                            <input type="hidden" name="moduleId" value="{{ module['id'] }}">
                            <input type="hidden" name="lessonId" value="{{ lesson['id'] }}">
                            <input type="hidden" name="type" value="video">
                            <button type="submit" class="btn btn-success">Vídeo</button>
                        </form>
                        {% endif %}
                        {% for file in lesson["files"] or [] %}
                        <form action="{{ url_for('downloader') }}" method="POST" style="display:inline">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="courseId" value="{{ course['course']['id'] }}">
                            <input type="hidden" name="moduleId" value="{{ module['id'] }}">
                            <input type="hidden" name="lessonId" value="{{ lesson['id'] }}">
                            <input type="hidden" name="fileId" value="{{ file['id'] }}">
                            <input type="hidden" name="type" value="file">
                            <button type="submit" class="btn btn-primary">{{ file["name"] }}</button>
                        </form>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}
